@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  }
  
a {
  text-decoration: none;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("../fonts/stratosskyengweb-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  background-color: #004980;
  position: relative;
}

.front {
  width: 1024px;
  height: 774px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-choice {
  width: 208px;
  height: 96px;
  font-size: 40px;
  line-height: 48px;
  color: #004980;
  text-align: center;
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 480px;
  height: 460px;
  background-color: #C2F5FF;
  border-radius: 12px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.level input[type=radio] {
  display: none;
}

.level label {
  color: #0080C1;
  cursor: pointer;
  background: #ffffff;
  border-radius: 12px;
  width: 98px;
  height: 98px;
  font-size: 64px;
  line-height: 72px;
}

.button-start {
  box-sizing: border-box;
  background-color: #7AC100;
  border-radius: 12px;
  width: 246px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  border: none;
}

.button-start:hover {
  background-color: #65960f;
}

.chosen-level {
  border: 3px solid #0080C1;
  box-sizing: border-box;
}

.yourLevel {
  color: #FFFFFF;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}